@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
// Fonts
$FontInter: 'Inter', sans-serif;
$FontLD: 'Lexend Deca', sans-serif;

// Colors
$VeryDarkBlueMBG: hsl(233, 47%, 7%);
$DarkDesaturatedBlueCBG: hsl(244, 38%, 16%);
$SoftVioletAcc: hsl(277, 64%, 61%);
$WhiteMHS: hsl(0, 0%, 100%);
$SlightlyTransparentWhiteMPG: hsla(0, 0%, 100%, 0.75);
$SlightlyTransparentWhiteSH: hsla(0, 0%, 100%, 0.6);