@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
// Fonts
$FontInter: 'Inter', sans-serif;
$FontLD: 'Lexend Deca', sans-serif;

// Colors
$VeryDarkBlueMBG: #090b1a;
$DarkDesaturatedBlueCBG: #1b1938;
$SoftVioletAcc: #aa5cdb;
$WhiteMHS: #ffffff;
$SlightlyTransparentWhiteMPG: #ffffffbf;
$SlightlyTransparentWhiteSH: #ffffff99;